.navbar {
  transition: box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #fff;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100px;
}

nav a {
  color: #ab3550 !important;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold !important;
}

#lastnav {
  border: 3px solid #ab3550;
  background-color: #ab3550;
  color: white !important;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

#lastnav:hover {
  background-color: white;
  color: #ab3550 !important;
}
