.sec-2 {
  margin-top: 90px;
  font-family: "Quicksand", sans-serif;
}

img {
  overflow: hidden;
  height: auto;
}

h2 {
  color: #43121d;
}

p,
ul li {
  font-size: 17px;
  color: #555;
}

.butn {
  border: 3px solid #ab3550;
  background-color: #ab3550;
  margin-top: 15px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;

  transition: 0.3s ease;
}

.butn:hover {
  border: 3px solid #a82d49;
  background-color: white;
  color: #a82d49;
  box-sizing: border-box;
}
