body {
  margin: 0;
  font-family: "Quicksand", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 10000px;
}

code {
  font-family: "Quicksand", sans-serif;
}
