.slider {
  background-color: #a82d49;
  padding-bottom: 120px;
  margin: 150px 0;
}

.slider h1 {
  color: white;
  text-align: center;
  padding: 80px;
}

.carousel-item {
  background-color: white;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.carousel-caption p {
  line-height: 23px;
}

.carousel-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 220px;
}

.author {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  color: #a82d49;
}

.carousel-indicators {
  position: fixed;
  top: 370px;
}
.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
